<h1>All Designers</h1>

<div class="container">
  <div class="row">
      <% @all_users.each do |user| %>
        <div class="col s6">
            <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      <% end %>
  </div>
</div>
