// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index {
  height: 400px;
  width: auto;
}


.center {
  text-align: center;
}

img {
  height: 300px;
}

.img {
  padding: 10px;
  margin: 0 auto;
  height: 325px;
  width: 420px;
  background-color:#F4F4F4;
}

.container h1 {
  font-size: 25px;
}


.container h3 {
  font-size: 22px;
}

.container p {
  font-size: 18px;
}

.container li {
  font-size: 18px;
}

.container label {
  font-size: 16px;
}


.form {
  border-radius: 15px 50px;
}

.controls a {
  color: black;
}

.controls a:hover {
  color: hotpink;
}


.project-links a {
  color: black;
}

.project-links a:hover {
  color: hotpink;
}

.a-links {
  color: hotpink;
}

.a-links:hover {
  color: black;
}
