<!DOCTYPE html>
<html>
  <head>
    <title>DribbleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">Dribble</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/users">All Designers</a></li>
         <li><a href="/users/new">New Designer</a></li>
         <li><a href="/projects">All Projects</a></li>
         <li><a href="/projects/new">New Project</a></li>
       </ul>
     </div>
   </nav>

  <hr>
    <%= yield %>
  <hr>

  </body>
</html>
